.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-black-opacity);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modal {
  background-color: var(--color-white);
  width: 100%;
  max-width: 53rem;
  min-height: 40rem;
  padding: 1rem;

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.modal-minor {
  background-color: var(--color-white);
  width: 100%;
  max-width: 32rem;
  min-height: 25rem;
  padding: 2rem;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.modal-minor-edit {
  min-height: 20rem;
}

.modal-minor form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-minor form input {
  width: 100%;
  height: 3.25rem;
  padding: 0.5rem 1rem;
  font-size: var(--font-size-5);
  font-weight: 400;
  color: var(--color-grey-200);
}

.modal-minor form textarea {
  padding: 1rem;
  height: 7rem;
  width: 100%;
  resize: none;
  font-family: var(--font-family-default);
  font-size: var(--font-size-5);
  font-weight: 400;
  color: var(--color-grey-f200);
}

.modal-minor form select {
  width: 100%;
  height: 3.25rem;
  padding: 0.5rem 1rem;
  font-size: var(--font-size-5);
  font-weight: 400;
  color: var(--color-grey-200);
}

.modal-minor form input::placeholder {
  font-size: var(--font-size-5);
  font-weight: 400;
  color: var(--color-grey-300);
}

.modal-minor form button {
  width: 100%;
  height: 3.25rem;
  padding: 1rem;
  font-size: var(--font-size-5);
  font-weight: 700;
  border: none;
}

.btn-modal-minor {
  width: 100%;
  height: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
}

.modal-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-header div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modal-header form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.department-employees {
  background-color: var(--color-grey-400);
  height: 18.125rem;
  overflow-x: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-employee {
  height: 12.25rem;
  width: 19.125rem;
  background-color: var(--color-white);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
}

.card-employee button {
  border-color: var(--color-feedback-alert);
  align-self: center;
}

@media (min-width: 900px) {
  .modal-header {
    flex-direction: row;
    justify-content: space-between;
  }

  #select-users {
    width: 26rem;
  }

  .modal-header form button {
    align-self: flex-end;
  }
}